body {
    display: block;
    margin: 8px;
}

body {
    font-smooth: never;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Pretendard Variable, Noto Sans KR, sans-serif;
    font-weight: 500;
}

body {
    background-color: #fff;
    color: #3f3f3f;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, Liberation Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-align: left;
}

* {
    box-sizing: border-box;
}

div {
    display: block;
    unicode-bidi: isolate;
}

main {
    display: block;
}

section {
    display: block;
    unicode-bidi: isolate;
}

img, svg {
    vertical-align: middle;
}

img {
    border-style: none;
    overflow-clip-margin: content-box;
    overflow: clip;
    vertical-align: middle;
}

#__nuxt, body {
    height: 100%;
    min-height: 100%;
}

#__nuxt {
    height: 100%;
    min-height: 100%;
}

.layout-wargame {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding-top: 4rem;
}

.app-main {
    border-top: 1px solid #dedee6;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.page-content {
    background-color: #fff;
    flex-grow: 1;
    margin-top: 1rem;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}

@media (min-width: 1080px) {
    .container {
        max-width: 1200px;
    }
}

.promote-row {
    margin-bottom: 2rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}

.handle-col {
    transition: flex-basis .33s cubic-bezier(.075,.82,.165,1);
    will-change: auto;
}

.col-3 {
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    width: 100%;
    flex: 0 0 25%;
    max-width: 25%;
}

.card-beginner {
    background-color: #1bc48f;
}

.promote-card {
    border-radius: .5rem;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    height: 17.5rem;
    line-height: 2.25rem;
    padding: 2rem;
    position: relative;
    transition: transform .16s cubic-bezier(.075,.82,.165,1);
}

.card-beginner .card-description {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
}

.promote-card .card-description {
    flex: 0 0 auto;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    overflow: hidden;
    white-space: nowrap;
}

.promote-card .card-title {
    flex: 0 0 auto;
    margin-bottom: 0;
    overflow: hidden;
    white-space: nowrap;
}

.card-title {
    margin-bottom: .75rem;
}

.promote-card .card-image {
    bottom: 0;
    height: 184px;
    position: absolute;
    right: 0;
    transform: translateX(15%);
    width: 184px;
}

.promote-card .disable-filter {
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    margin-top: auto;
}

.svg-inline--fa, svg:not(:root).svg-inline--fa {
    overflow: visible;
}

.svg-inline--fa.fa-w-16 {
    width: 1em;
}

.mr-2 {
    margin-right: .5rem !important;
}

.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    vertical-align: -.125em;
}

.card-first-blood {
    background: #ff5562;
}

.card-ucc {
    background: #07b8ea;
}

.card-ctf {
    background: #6b7af7;
}

/* js 이후 */

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    width: 100%;
}

.promote-card .card-title {
    flex: 0 0 auto;
    margin-bottom: 0;
    overflow: hidden;
    white-space: nowrap;
}

.card-beginner .card-description {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
}

.promote-card .card-description {
    flex: 0 0 auto;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    overflow: hidden;
    white-space: nowrap;
}

.promote-card .card-image {
    bottom: 0;
    height: 184px;
    position: absolute;
    right: 0;
    transform: translateX(15%);
    width: 184px;
}

.promote-card .disabled-filter {
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    margin-top: auto;
}

.svg-inline--fa.fa-w-16 {
    width: 1em;
}

.mr-2 {
    margin-right: .5rem !important;
}

.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    vertical-align: -.125em;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}

.left-col {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.col-sm-8 {
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    width: 100%;
}

.challenges-filter {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.mb-3 {
    margin-bottom: 1rem !important;
}

.dh3-input-search {
    background: #fff;
    border: 1px solid #e1e3e7;
    border-radius: .25rem;
}

.dh3-input-search .icon {
    border: #0000;
    border-left: 0;
    border-radius: .25rem 0 0 .25rem;
    color: #c2c5ca;
    cursor: auto;
    font-size: 2.5rem;
    margin: auto 0;
    padding: .5rem;
    position: relative;
}

.svg-inline--fa, svg:not(:root).svg-inline--fa {
    overflow: visible;
}

.svg-inline--fa.fa-w-16 {
    width: 1em;
}

.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    vertical-align: -.125em;
}

svg {
    overflow: hidden;
}

svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}

.input-group {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
}

.input-group-prepend {
    display: flex;
    margin-right: -1px;
}

:not(svg) {
    transform-origin: 0px 0px;
}

.dh3-input-search .input-search {
    border: #0000;
    border-radius: 0 .25rem .25rem 0;
    border-right: 0;
    height: 2.5rem;
    padding: .5rem;
}

.input-group>.form-control:not(:first-child) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.input-group>.form-control {
    flex: 1 1 auto;
    margin-bottom: 0;
    min-width: 0;
    position: relative;
    width: 1%;
}

.form-control {
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid #b5b5be;
    border-radius: .25rem;
    color: #616063;
    display: block;
    font-size: .875rem;
    font-weight: 400;
    height: calc(1.5em + .75rem + 2px);
    line-height: 1.5;
    padding: .375rem .75rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    width: 100%;
}

input {
    overflow: visible;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
}

input[type="text" i] {
    padding-block: 1px;
    padding-inline: 2px;
}

.challenges-filter .desktop-filter {
    align-items: center;
    display: flex;
    gap: .5rem;
}

.challenges-filter .desktop-filter .filter-key {
    color: #525252;
    flex: 0 0 auto;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.625rem;
    min-width: 5rem;
}

.challenges-filter .desktop-filter .filter-selection {
    align-items: flex-start;
    border: 1.5px solid #8f9194;
    border-radius: 1.25rem;
    color: #8f9194;
    cursor: pointer;
    display: inline-flex;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.625rem;
    padding: .4375rem 1rem;
}

.challenges-filter .desktop-filter .filter-selections .difficulty {
    cursor: pointer;
    opacity: .3;
    transition: opacity .16s ease-in-out;
}

.challenges-filter .desktop-filter .wargame-level {
    height: 2.25rem;
    width: 2.25rem;
}

.challenges-filter .desktop-filter .filter-selections .difficulty.active {
    opacity: 1;
}

.challenges-filter .desktop-filter .selection.active {
    border-color: #6b7af7;
    color: #6b7af7;
}

.challenges-filter .desktop-filter .selection {
    align-items: flex-start;
    border: 1.5px solid #8f9194;
    border-radius: 1.25rem;
    color: #8f9194;
    cursor: pointer;
    display: inline-flex;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.625rem;
    padding: .4375rem 1rem;
}

.wargame-challenges .split {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.wargame-challenges h3 {
    color: #7d7d80;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.625rem;
    margin-bottom: .5rem;
    margin-top: 0;
}

.wargame-challenges .point {
    color: #6b7af7;
}

.btn-group {
    display: inline-flex;
    position: relative;
    vertical-align: middle;
}

.dropdown {
    position: relative;
}

.dh-dropdown-filter .dropdown-toggle {
    align-items: center;
    background: none;
    border: 1px solid #e1e3e7;
    color: #7d7d80;
    display: flex;
    font-size: .8125rem;
    justify-content: space-between;
    line-height: 1.25rem;
    padding: .25rem .5rem;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn-group>.btn {
    flex: 1 1 auto;
    position: relative;
}

[type=button]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}

.dropdown-toggle {
    white-space: nowrap;
}

.btn {
    background-color: #0000;
    border: 1px solid #0000;
    border-radius: .25rem;
    color: #3f3f3f;
    display: inline-block;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    padding: .375rem .75rem;
    text-align: center;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    user-select: none;
    vertical-align: middle;
}

[type=button], button {
    -webkit-appearance: button;
}

button {
    overflow: visible;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-indent: 0px;
    text-shadow: none;
    padding-block: 1px;
    padding-inline: 6px;
    text-transform: none;
}

.dh-dropdown-filter .icon {
    margin-left: .25rem;
    transition: transform .15s;
}

.svg-inline--fa, svg:not(:root).svg-inline--fa {
    overflow: visible;
}

.svg-inline--fa.fa-w-16 {
    width: 1em;
}

.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    vertical-align: -.125em;
}

svg:not(:root) {
    overflow-clip-margin: content-box;
}

:not(svg) {
    transform-origin: 0px 0px;
}

.dh-dropdown-filter .dropdown-menu {
    padding: 0;
    width: 100%;
}

.dropdown-menu {
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid #00000026;
    border-radius: .25rem;
    color: #3f3f3f;
    display: none;
    float: left;
    font-size: .875rem;
    left: 0;
    list-style: none;
    margin: .125rem 0 0;
    min-width: 10rem;
    padding: .5rem 0;
    position: absolute;
    text-align: left;
    top: 100%;
    z-index: 1000;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
    margin-bottom: 1rem;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}

.dh-dropdown-filter .dropdown-item.active {
    background-color: #f6f8fe;
    color: #303030;
}

.dh-dropdown-filter .size-md .dropdown-item {
    font-size: .875rem;
    line-height: 1.375rem;
    padding: .375rem .75rem;
}

.dh-dropdown-filter .dropdown-item {
    color: #7d7d80;
}

.dropdown-item.active {
    background-color: #6b7af7;
    color: #fff;
    text-decoration: none;
}

.dropdown-item {
    background-color: #0000;
    border: 0;
    clear: both;
    color: #202020;
    display: block;
    font-weight: 400;
    padding: .25rem 1.5rem;
    text-align: inherit;
    white-space: nowrap;
    width: 100%;
}

a {
    background-color: #0000;
    color: #6b7af7;
    text-decoration: none;
}

.challenges-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.challenges-list .headers {
    display: grid;
    gap: .5rem;
    grid-template-columns: .8fr .5fr .3fr .5fr;
}

.challenges-list .list-header {
    color: #7d7d80;
    font-size: .875rem;
}

.challenge-row {
    align-items: center;
    display: grid;
    gap: .5rem;
    grid-template-columns: .8fr .5fr .3fr .5fr;
    min-height: 2.25rem;
}

.challenge-row .challenge-title {
    align-items: center;
    color: #303030;
    display: flex;
    font-size: 1.125rem;
    font-weight: 600;
    gap: .5rem;
    line-height: 1.75rem;
    overflow: hidden;
}

.wargame-level {
    height: 1.75rem;
    width: 1.75rem;
}

.challenge-row .challenge-title .title {
    align-items: center;
    color: #303030;
    display: flex;
    flex: 1 1 auto;
    gap: .5rem;
    overflow: hidden;
}

.challenge-row .challenge-title .title .title-text {
    color: #303030;
    flex: 0 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
}

.challenge-row .challenge-category {
    display: flex;
    gap: .5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tag.size-md {
    font-size: .8125rem;
    line-height: 1.375rem;
    padding: .25rem .5rem;
}

.tag {
    background: #eceef0;
    border-radius: .25rem;
    color: #7d7d80;
}

.challenge-row .challenge-author {
    overflow: hidden;
}

.mt-3 {
    margin-top: 1rem !important;
}

.justify-content-center {
    justify-content: center !important;
}

.pagination {
    border-radius: .25rem;
    display: flex;
    list-style: none;
    padding-left: 0;
}

.page-item.disabled .page-link {
    background-color: #fff;
    border-color: #dedee6;
    color: #828086;
    cursor: auto;
    pointer-events: none;
}

.page-item:first-child .page-link {
    border-bottom-left-radius: .25rem;
    border-top-left-radius: .25rem;
    margin-left: 0;
}

.page-link {
    background-color: #fff;
    border: 1px solid #dedee6;
    color: #6b7af7;
    display: block;
    line-height: 1.25;
    margin-left: -1px;
    padding: .5rem .75rem;
    position: relative;
}

.page-item.active .page-link {
    background-color: #6b7af7;
    border-color: #6b7af7;
    color: #fff;
    z-index: 3;
}

[type=button]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}

.right-col {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.col-sm-4 {
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    width: 100%;
}

.wargame-ranking h2 {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.75rem;
    margin-bottom: 1rem;
    margin-top: 0;
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.wargame-ranking .rankings {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.ranking-user {
    align-items: center;
    display: flex;
    gap: .5rem;
    min-height: 3rem;
}

.ranking-user .rank {
    color: #525252;
    flex: 0 0 2rem;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.5rem;
}

.ranking-user .field-user {
    flex: 1 1 auto;
}

.userinfo-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.userinfo-container .userinfo {
    align-items: center;
    display: flex;
    flex: 1;
    gap: .5rem;
    overflow: hidden;
}

.userinfo-container .userinfo .icon {
    flex: 0 0 auto;
}

.user-icon.md {
    height: 2.25rem;
    width: 2.25rem;
}

.rounded-circle {
    border-radius: 50% !important;
}

.badge-secondary {
    background-color: #828086;
    color: #fff;
}

.b-avatar {
    align-items: center;
    display: inline-flex;
    flex-shrink: 0;
    font-size: inherit;
    font-weight: 400;
    height: 2.5rem;
    justify-content: center;
    line-height: 1;
    max-width: 100%;
    overflow: visible;
    position: relative;
    text-align: center;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, box-shadow .15s ease-in-out;
    vertical-align: middle;
    width: 2.5rem;
}

.b-avatar .b-avatar-img {
    align-items: center;
    border-radius: inherit;
    display: flex;
    height: 100%;
    justify-content: center;
    mask-image: radial-gradient(#fff, #000);
    overflow: hidden;
    width: 100%;
}

.b-avatar .b-avatar-img img {
    border-radius: inherit;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
}

.userinfo-container .userinfo .texts {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
}

.field-nickname {
    align-items: center;
    color: #1a1a1b;
    display: flex;
    overflow: hidden;
}

.field-nickname .nickname {
    color: #1a1a1b;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.625rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
}

.ranking-user .user-point {
    font-feature-settings: "tnum";
    color: #6b7af7;
    flex: 0 0 auto;
    font-size: 1.25rem;
    font-variant-numeric: tabular-nums;
    font-weight: 600;
    line-height: 1.75rem;
}

.handle-col:hover {
    transform: translateY(-7px); /* 위로 10px 이동 */
    transition: transform 0.3s ease;
}

/* 최신순 클릭 시 */

.dh-dropdown-filter .dropdown-menu {
    padding: 0;
    width: 100%;
}

[tabindex="-1"]:focus:not(:focus-visible) {
    outline: 0 !important;
}

.dropdown-menu.show {
    display: block;
}

.dropdown-menu[x-placement^=bottom], .dropdown-menu[x-placement^=left], .dropdown-menu[x-placement^=right], .dropdown-menu[x-placement^=top] {
    bottom: auto;
    right: auto;
}

