* {
    box-sizing: border-box;
}

#__layout, #__nuxt, body, html {
    height: 100%;
    min-height: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    font-family: Pretendard Variable, Noto Sans KR, sans-serif;
    font-weight: 500;
    background-color: #fff;
    color: #3f3f3f;
    font-size: .875rem;
    line-height: 1.5;
    margin: 0;
    text-align: left;
    counter-reset: katexEqnNo mmlEqnNo;
    display: block;
}

div {
    display: block;
    unicode-bidi: isolate;
}

main {
    unicode-bidi: isolate;
}

a {
    background-color: #0000;
    color: #6b7af7;
    text-decoration: none;
}

.layout-default {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding-top: 4rem;
}

.app-main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.app-main>:first-child {
    flex-grow: 1;
}

.forum-page {
    margin-bottom: 3rem;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto {
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    width: 100%;
}

.forum-aside {
    display: flex;
    flex-direction: column;
    padding: .75rem 0;
}

.forum-aside .link-title {
    color: #7d7d80;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.625rem;
    text-decoration: none;
}

.forum-aside .link {
    padding: .6875rem .75rem;
}

.forum-aside .link.active {
    color: #6b7dfb;
}

.col-inner {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: .75rem;
}

.best-posts {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.best-posts .best-posts-header {
    color: #303030;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2rem;
    text-align: center;
}

.best-posts .post-container>:not(:last-child) {
    border-bottom: 1px solid #eceef0;
}

.best-posts .post-container {
    padding: 1rem 0;
}

.best-posts .best-post {
    padding: 1rem 0;
}

.best-post {
    display: flex;
    gap: .75rem;
    height: 12rem;
}

.rank {
    color: #8f9194;
    font-size: 1.5rem;
    font-weight: 700;
    height: 2rem;
    line-height: 2rem;
    width: 2rem;
}

.best-post .right {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.main-wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.main-wrapper .community {
    margin-bottom: .1875rem;
}

.main-wrapper .post-title-wrapper {
    margin-bottom: .5625rem;
}

.post-title-wrapper {
    align-items: center;
    display: flex;
    overflow: hidden;
}

.post-title-wrapper .post-title {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    color: #1a1a1b;
    font-size: 1.125rem;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}

.post-title-wrapper .cnt-comments {
    color: #687dfb;
    font-size: .8125rem;
    font-weight: 600;
}

.post-content {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post-metadata {
    line-height: 1.375rem;
}

.post-metadata .key {
    color: #8f9194;
}

.post-metadata .value {
    color: #939aff;
}